<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- dashboard admin -->
        <%- include("../partials/dashboard.ejs") %>

            <div class="admin-content">
                <%- include("../partials/header.ejs") %>
                    <main>
                        <h1>Agregar categoria</h1>
                        <form action="/admin/categories/create" method="POST">
                            <div class="form caja-agregar">
                            Nombre:<label for="name-category"><input class="input style-admin" type="text"
                                    name="name" id="name-category" required
                                    placeholder="Nombre de la categoria" />
                            </label>
                            <button type="submit" class="btn-admin style-admin">
                                CREAR
                            </button>
                            </div>
                        </form>
                    </main>
            </div>
    </body>

</html>