<!DOCTYPE html>
<<<<<<< HEAD
<html lang="es">    
=======
<html lang="es">
>>>>>>> 8f04f7af41900e93e0533f1895b29fed017c8bc0
    <%- include ('../admin/adminHead.ejs') %>
<body>
    <%- include ('../admin/adminHeader.ejs') %>
    <h2>Bienvenido Admin</h2>
</body>
</html>
