<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/header.ejs') %>
    <main class="comprar">
        <div class="comocomprar">
            <img src="images/varias/comprar.png" alt="imagen cómo comprar">
        </div>

    </main>
    <%- include ('partials/footer.ejs') %>    
</body>
</html>